@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}
.contenidor-pelicula {
  margin: 20px 0;
}

.contenidor-pelicula select {
  background-color: white;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
}

.contenidor {
  margin-bottom: 30px;
  perspective: 1000px;
}

.seient {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seient.seleccionat {
  background-color: #6feaf6;
}
.seient.ocupat {
  background-color: white;
}

.seient:nth-of-type(2) {
  margin-right: 18px;
}
.seient:nth-last-of-type(3) {
  margin-right: 18px;
}

.seient:not(.ocupat):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.llegada .seient:not(.ocupat):hover {
  cursor: default;
  transform: scale(1);
}

.llegenda {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.llegenda li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.llegenda li small {
  margin-left: 2px;
}

.fila {
  display: flex;
}

.pantalla {
  background-color: white;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}
